/* CSS Document */
body { margin: 0; padding: 0; font-family: Verdana, Arial, sans-serif; font-size: 0.75em; line-height: 1.6em; }

/* * Basics * */
a { color: #0092B4; text-decoration: none; }

a:hover { text-decoration: underline; }

hr { background: none; border: none; border-bottom: 1px solid #bbb; }

button { font-size: 14px; border: 1px solid black; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background: -webkit-linear-gradient(top, #00b5dc 0%, #00688b 100%); color: white; padding: 10px; -webkit-transition-property: color; -moz-transition-property: color; -ms-transition-property: color; -o-transition-property: color; transition-property: color; -webkit-transition-duration: 1s; -moz-transition-duration: 1s; -ms-transition-duration: 1s; -o-transition-duration: 1s; transition-duration: 1s; text-shadow: 1px 1px 2px black; }

button:hover { -webkit-box-shadow: 0 0 5px black; -moz-box-shadow: 0 0 5px black; box-shadow: 0 0 5px black; text-shadow: 1px 1px 10px black; }

img { border: none; }

h1, h2, h3, h4, h5, legend { font-family: "trebuchet ms",arial,helvetica,clean,sans-serif; /*	clear: both; */ margin: 2px 0; line-height: 1.4em; }

legend { font-family: Verdana,Tahoma,Arial; color: black; }

h1 { font-size: 2em; color: #005163; font-weight: normal; display: block; border-bottom: 3px solid #bab6b6; }

h2 { font-size: 1.4em; }

h3 { font-size: 1.3em; padding-top: 10px; }

h4 { font-size: 1.1em; font-family: inherit; color: #555; }

td { vertical-align: top; }

dfn { font-style: normal; }

dt { font-weight: bold; }

dd { margin: 0; padding: 0; }

address { font-style: normal; }

/* * Layout * */
#wrap { margin: 0 auto; position: relative; }

/* * Message Stack * */
.message { background: #a9d534; padding: 5px; text-align: center; font-family: 'Lucida Grande','Lucida Sans',Verdana,Tahoma,Arial; font-size: 13px; }

.message a { color: #102A73; }

.messageerror { background: #CA4644; color: white; }

.messagedialog { border: 1px solid black; padding: 20px; position: fixed; background: white; top: 20%; left: 40%; font-size: 1.2em; -moz-border-radius: 4px; -webkit-border-radius: 4px; text-align: center; }

.messagewarning { background: #BA8E3C; color: white; }
